.main-nav {
    display: none;
}

.main-nav__link:focus,
.main-nav__link:hover {
    color: var(--light-orange);
    transition: all 1s ease;
}

.main-nav__item:focus,
.main-nav__item:hover {
    transform: scale(1.1, 1.1);
    transition: all 1s ease;
}

@media (max-width: 689px) {

    .main-nav--open {
        display: block;
    }

    .main-nav--open .main-nav__list {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        z-index: 1;
        padding: 80px 30px;
        background-color: var(--dark-blue);
        gap: 55px;
        margin: 0px;
    }

    .main-nav--open .main-nav__link {
        text-decoration: none;
        color: var(--light-blue);
        font-weight: 700;
        font-size: 20px;
    }

    .main-nav--open .main-nav__link:hover {
        color: var(--light-orange);
        transition: all 1s ease;
    }
}

@media (min-width: 690px) {
    .main-nav {
        display: block;
        width: 50%;
    }

    .main-nav__list {
        display: flex;
        justify-content: flex-end;
        gap: 10%;
        list-style-type: none;
        padding-left: 0px;
        margin-top: 3px;
    }

    .main-nav__link {
        text-decoration: none;
        color: var(--light-blue);
        font-weight: 700;
    }
}

@media (min-width: 960px) {
    .main-nav__link {
        font-size: 1.2rem;
    }
}