.slider__slide {
    border: 3px solid var(--light-orange);
}

.slider__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__title {
    color: var(--light-orange);
    margin-bottom: 0px;
}

.slider__technologies {
    color: var(--light-blue);
}

.slider__buttons {
    position: relative;
}

.slider__button {
    font-size: 2rem;
    color: var(--orange);
}

.slider__button--prev {
    position: absolute;
    bottom: 373px;
    left: 4px;
    width: 50px;
    height: 50px;
    background-color: var(--dark-blue);
}

.slider__button--next {
    position: absolute;
    bottom: 373px;
    left: 251px;
    width: 50px;
    height: 50px;
    background-color: var(--dark-blue);
}

@media (min-width: 450px) {
    .slider__button--prev {
        bottom: 373px;
        left: -54px;
        width: 50px;
        height: 50px;
    }

    .slider__button--next {
        bottom: 373px;
        left: 309px;
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 610px) {
    .slider__button--prev {
        bottom: 300px;
        left: -53px;
        width: 50px;
        height: 100px;
    }

    .slider__button--next {
        bottom: 300px;
        left: 505px;
        width: 50px;
        height: 100px;
    }
}

@media (min-width: 960px) {
    .slider__button--prev {
        bottom: 185px;
        left: 6px;
        height: 200px;
    }

    .slider__button--next {
        bottom: 185px;
        left: 900px;
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .slider__button--prev {
        bottom: 185px;
        left: -53px;
        height: 200px;
    }

    .slider__button--next {
        bottom: 185px;
        left: 959px;
        height: 200px;
    }
}